---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Single-page design portfolio">
  <header
    class="mx-4 mt-4 flex items-center justify-between md:ml-[2.44rem] md:mr-10 md:max-xl:mt-[2.13rem] xl:ml-[10.31rem] xl:mr-[10.25rem]"
  >
    <img
      src="/public/images/logo.svg"
      alt=""
      class="size-12 md:max-xl:size-16"
    />
    <button
      type="button"
      class="h-11 w-44 rounded-[1.75rem] bg-[#030303] text-sm font-bold leading-7 text-[#FFF7F0] md:max-xl:h-14 md:max-xl:w-[14.25rem]"
      >Free Consultation</button
    >
  </header>
  <main></main>
</Layout>

<style></style>
